.col-1-5 {
	max-width: 12.5%;
	flex: 0 0 12.5%;
}
.col-2-5 {
	max-width: 20.83333%;
	flex: 0 0 20.83333%;
}
.col-3-5 {
	max-width: 29.16667%;
	flex: 0 0 29.16667%;
}
.col-4-5 {
	max-width: 37.5%;
	flex: 0 0 37.5%;
}
.col-5-5 {
	width: 45.83333%;
	flex: 0 0 45.83333%;
}
.col-6-5 {
	width: 54.16667%;
	flex: 0 0 54.16667%;
}
.col-7-5 {
	width: 62.5%;
	flex: 0 0 62.5%;
}
.col-8-5 {
	width: 70.83333%;
	flex: 0 0 70.83333%;
}
.col-9-5 {
	width: 79.16667%;
	flex: 0 0 79.16667%;
}
.col-10-5 {
	width: 87.5%;
	flex: 0 0 87.5%;
}
.col-11-5 {
	width: 95.8333%;
	flex: 0 0 95.8333%;
}	
@import url('https://fonts.cdnfonts.com/css/ink-free');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Calibri";
	font-size: 18px;
}
*::after, *::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.overflow-twoline-text{
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    background:#fff;
    position:absolute;
}

/* If text is too long, convert to ... */
.overflow-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*css cua phan autocomplete */
	.autocomplete-items {
		position: absolute;
		border: 1px solid #d4d4d4;
		border-bottom: none;
		border-top: none;
		z-index: 99;
		/*position the autocomplete items to be the same width as the container:*/
		top: 100%;
		left: 0.5px;
		right: -1px;
	}

	.autocomplete-items div {
		padding: 7px;
		cursor: pointer;
		background-color: #fff; 
		border-bottom: 1px solid #d4d4d4; 
	}
	
	
	.autocomplete-items div:hover {
		/*when hovering an item:*/
		background-color: #e9e9e9;
	}

	/*when navigating through the items using the arrow keys:*/
	.autocomplete-active {
		background-color: DodgerBlue !important; 
		color: #ffffff; 
	}

		


		


