.navbar-brand{
	font-size: 1.3em;
	letter-spacing:0.7px;
	font-family: 'Ink Free', sans-serif;

}
.format-nav{
	background-color:transparent;
}

.navbar-nav .nav-item:hover{
	background-color: #FFAEB9;
	border-radius: 30px;
}
.navbar-collapse li{
	margin-left: 20px;
}
.item-dangky{
	border-radius: 30px;	
	border: 1px solid #ccc;
	padding: 0 8px;
}



/* css for navbar */
	.format-img-user{
		width: 40px;
		height: 40px;
		/* margin-left: 5px;
		margin-top: 2px; */
		border-radius:100%;
	}
	.containerBlockicon{
		border-radius: 100%;
		line-height: 40px;
	}
	.containerBlockicon:hover{
		cursor: pointer;
		box-shadow: 0 0 7px rgba(195, 196, 209, 0.58);
	}
	.format-img-notice{
		border-radius: 6px;
		width: 20px;
	}
	.navbar-img-notice{
		margin-top: 2px;
		text-align: center;
		background-color: #fff;
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		margin-left: 20px;
	}

	.format-btn-user{
		border: none;
		background-color: #000;
		display: flex;
		cursor: pointer;
		text-decoration: none !important;
		position: relative;
		letter-spacing: 0;
		outline: 0;
		font-weight: 400;
		line-height: 1.34;
		max-width: 100px;
	}
	.btn-notice{
		border: none;
		background-color: #fff;
		position: relative;
		display: flex;
		cursor: pointer;
		text-decoration: none !important;
		letter-spacing: 0;
		outline: 0;
		font-weight: 400;
		line-height: 1.34;
		max-width: 100px;
	}
	.filter-dropdown-container-user{
		 position: relative;
	}

	.filter-dropdown-container-user  .filter-dropdownlist-user {
		position: absolute;
		left: -60px;
		top: 53px;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		z-index: 1000;
		box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
		border: 1px solid #ececec;
		background: #fff;
		border-radius: 4px;
		width: 100%;
		min-width: 200px;
		display: none;
	}
	.filter-dropdown-container-user  .filter-dropdownlist-notice {
		position: absolute;
		right: -60px;
		top: 50px;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		z-index: 1000;
		box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
		border: 1px solid #ececec;
		background: #fff;
		border-radius: 4px;
		width: 100%;
		min-width: 400px;
		display: none;

	}
	.filter-dropdownlistItem{
		display: flex;
	}
	.filter-dropdownlistItem span{
		margin: auto;
		margin-left: 5px;
	}
	.filter-dropdownlistItem .format-img-user{
		width: 45px;
		height: 45px;
		margin-top: 0px;
	}
	.filter-dropdown-container-user  .filter-dropdownlistitemLink {
		text-decoration: none !important;
		box-sizing: border-box;
		letter-spacing: 0;
		font-weight: 400;
		color: #2d2d2d !important;
		line-height: 1.75rem !important;
		background: none;
		display: block;
		border: none;
		padding: 8px 16px;
		width: 100%;
		text-align: left;
		cursor: pointer;
		margin: 0;
		outline: none;
		font-size: 17px;
	  }
	  .filter-dropdown-container-user.dropped .filter-dropdownlist-user {
		display: block;
	  }
	  .filter-dropdown-container-user.dropped .filter-dropdownlist-notice {
		display: block;
	  }
	  .filter-dropdown-container-user  .filter-dropdownlistItem {
		box-sizing: border-box;
		list-style-type: none;
		cursor: pointer;
		background-color: #fff;
		line-height: 1.75rem;
		width: 100%;
		border: none;
	  }
	  .filter-dropdown-container-user  .filter-dropdownlistItem:hover {
		background-color: #ccc;
	  }
	  .filter-dropdownlist-user .filter-dropdownlistItem, .filter-dropdownlist-notice .filter-dropdownlistItem{
		margin-left: 0px;
	  }
	  .filter-dropdownlistItem .format-text-dropdown{
		color: #EE0000!important;
	  }
	  .filter-dropdown-container-user .format-border-top{
		border-top: 2px solid rgb(126 121 121 / 10%);
	  } 
	  .filter-dropdownlistItem .fa-sign-out{
		margin-left: 10px; 
		margin-right: -8px;
	  }