html, body {
	width: 100%;
	height: 100%;
	font-family: Calibri;
	font-size: 16px;	
}
.bg {
    height:100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url("../Images/dangky_dangnhap_background.jpg");
	background-size: cover;
    width: 100%;
	height: 100%;
    opacity: 1;
    /* filter: blur(5px); */
}
.dark-bg{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.row-container {
    background: rgba(255,255,255,0.1);
	border: none;
	border-radius: 20px;
	padding: 30px;
    color: white;	
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.form-control{
    background-color: transparent !important;
    color: white;	
}
.form-control:focus{
    background-color: transparent !important;
    color: white;	
}
h1 {
    font-size: 3rem;
    /* font-family:Ink Free, Regularl; */
    font-weight: bold;

}
h2 {
    font-size: 1.8rem;
    font-weight: bold;

}
label {
    font-size: 1.2rem;
	text-shadow: 2px 2px 10px #000;
    font-weight: bold;

}
button{
    margin: 10px 0 0 0;
    width: 50%;
    height: 40px;
    font-weight: bold;
    color: rgb(238, 226, 226);
    font-size: 1.2rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    
    }
.signup_link{
    text-align: center;
    font-family:Calibri, Regularl;
    font-size: 0.9rem;
    margin-top: 10px;
    }
.signup_link a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;

    }

.pass a{
    font-size: 0.9rem;
    font-family:Calibri, Regularl;
    color: #fff;
    }
